p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

/* Add color to book background */

.book .book-body {
  background: #fffff9;
}

/* Configure normal text sections */

.book .book-body .page-wrapper .page-inner .normal {
  background: #fffff9;
  font-size: 2.0rem;
}

/* Add color to book-summary */

.book .book-summary {
  background: #fffff9;
  /* font-family: "Computer Modern", serif; */
}

/* Use Computer Modern font-family */

.book.font-family-0 {
  /* font-family: "Computer Modern", serif; */
}

/* Set text page width */
.book .book-body .page-wrapper .page-inner {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0 40px;
}
